@import url('./__item/cards__item.css');
@import url('./__description/cards__description.css');
@import url('./__image/cards__image.css');
@import url('./__title/cards__title.css');

.cards{
    display: flex;
    width: 920px;
    margin: auto;
    flex-flow: row wrap;
    padding-left: 0;
    
}

/*Added padding-left 0. Not sure by comment "For ul tag it's better to set  default padding-left to 0" if that means I should add this here, or add to normalize.css, or if I should add another block of ul in the BEM structure with ul.css file. Just let me know if I need to move this somewhere else thanks.*/