@import url(./_theme/section-subtitle_theme_dark.css);

.section-subtitle{
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    margin: auto;
    text-align: center;
    font-weight: normal;
    z-index: 2;
}

/*
Thank you for this, good to know. Noting to self.
It's better to use p tag for subtitles
For more info:
https://www.w3.org/TR/html52/common-idioms-without-dedicated-elements.html#subheadings-subtitles-alternative-titles-and-taglines*/
