.page {
    width:100%;
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Header section*/
.header {
    height: 100vh;  
    min-height: 600px;
    max-height: 756px;
    /*these parameters were given in starter kit. I did not change the css that was given here, I only added the display, position, and background-color. Page 3 of the sprint pdf instructions states header block to have min-height of 600px and max height of 756px. I tried removing height 100vh but didn't look correct and that was what was originally there on the template when downloaded. 
    */
    
    display: flex;
    position: relative;
    background-color:  #f2f2f2;
    /* parameters for the header section */
}

.header__title {
    width: 730px;
    display: flex;
    align-items: center;
    margin-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    z-index:2;
}

.header__subtitle{
    width: 388px;
    position: absolute;
    bottom: 30px;
    left: 64px;
    line-height: 25px;
    font-size: 18px;
    z-index: 2
    
}

.header__main-illustration{
    width:765px;
    height:608px;
    background-image: url(../images/on_the_edge.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    right:0;
    top:64px;
}

.header__link{
    text-decoration: none;
    color: #2f80ed;
}


.logo{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    
}

.logo_place_header {
    width: 154px;
    height: 31px;
    position: absolute;
    background-image: url(../images/logo.png);
    top:30px;
    left:64px;
} 
/*end of Header section*/


/*Description section*/
.description{
    margin: auto;
    padding: 100px 0 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.two-columns__brief{
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color:#2f80ed;
    margin: 0;
    font-weight: normal;
}

.two-columns__main-text{
    width:80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.two-columns__paragraph{
    margin:0px 0px 30px;
    
}

.two-columns__paragraph:last-child{
    margin:0px;
    
}

.two-columns__span-accent{
    font-weight: bold;
}


.two-columns {
    display:flex;
    justify-content:space-between;
}
/*end of Description section*/


/*Digits section*/
.digits{
    margin: 100px auto;
}

.section-title{
    width: 60%;
    margin:0 auto 20px;
    text-align: center;
    font-size: 60px;
    line-height: 69px;
}

.section-subtitle{
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    margin: auto;
    text-align: center;
    font-weight: normal;
}

.table{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    margin:auto;
    flex-flow: row wrap;
}

.table__cell{
    width: 250px;
    line-height: 1.2;
    font-size: 18px;
    margin-top: 60px;
}

.table__heading{
    font-weight: bold;
    line-height: 1.15;
    font-size: 24px;
}

.table__text{
    margin-top: 20px;
}


/*end of Digits section*/


/*Feynman section*/
.feynman{
    padding-top: 100px;
    background-color:  #f2f2f2;
    background-image: url('../images/feinman.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 790px;
    position: relative;
}

.feynman__title{
    width: 770px;
    margin:auto;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle{
    line-height: 51px;
    font-size: 36px;
    text-align: center;
    margin:70px auto 0;
    font-weight: normal;
}

.feynman__link{
    line-height: 51px;
    font-size: 36px;
    position: absolute;
    top:50%;
    right:48px;
    text-decoration: none;
    color:#000;
}
/*end of Feyman section*/


/*Kaufman section*/
.kaufman{
    padding: 90px 0;
    margin: auto;
    background-color: #1F1F1F ;
    position: relative;
    overflow: hidden;
}

.section-title_theme_dark{
    color: #fff;
}
.section-subtitle_theme_dark{
    color: #fff;
}

.table_theme_dark{
    background-color: #1F1F1F ;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
    z-index: 2; 
}

.table__heading_theme_dark{
    color: #fff;
}

.table__text_theme_dark{
    color: #fff;
}

.kaufman__triangle{
    width: 877px;
    height: 877px;
    position: absolute;
    background-image: url(../images/triangle.svg);
    top:0;
    right:-210px;
    z-index: 0;
}
/*end of Kaufman section*/



/*Footer section*/
.footer{
    padding:60px 5% 40px;
    min-height: 350px;
    background-color: #1F1F1F ;
    color:#fff;
/*    PDF page 18 shows 90% width on the footer content. Which is misleading because we can't have a width on the footer__column class. What is really needed in order for the footer content to be 90% width is to ad a 5% padding on the left and right of the footer unless we created another modifier such as footer__column_width_small. Since the pdf did not state anything about adding a modifier like that I made the padding 5% for right and left here. */
}

.footer__columns{
    display: flex;
    justify-content: space-between;
    margin:60px auto;
}

.footer__column_content_copyright{
    display: flex;
    position: relative;
    margin:0;
    flex-basis: 711px;
    color:#504e50;
}

.footer__column_content_info{
    display: flex;
    flex-direction: column;
    margin:0;
}

.footer__column_content_social{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin:0;
}

.footer__column-heading{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-links{
    line-height: 30px;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 16px;
    list-style-type: none;
    padding:0;
    text-decoration: none;
}

.footer__social-icon{
    height: 16px;
    width: 16px;
    margin-right:10px;
    text-decoration: none;
    color:#504e50;
}

.logo_place_footer{
    width: 183px;
    height: 35px;
    background-image: url('../images/logo_white.png');
}

.footer__author{
    display: flex;
    position: absolute;
    bottom:0;
    left:0;
    margin: 18px auto;  
}

.link{
    color:#504e50;
    text-decoration: none;
}